///Функция для получения значения из массива $dimentions в файле /themes/**/_dimentions.scss
///Function for get variable from map $dimentions in /themes/**/_dimentions.scss
///@param {String} $map
///@param {String} $layer
@function get-dimention($map,$layer) {
	$mapping: map-get($dimentions, $map);
	@return map-get($mapping, $layer);
}

///Функция для получения значения из массива $dimentions в файле /themes/**/_dimentions.scss
///Function for get variable from map $dimentions in /themes/**/_dimentions.scss
///@param {String} $map
///@param {String} $layer
@function get-color($map,$layer) {
	$mapping: map-get($colors, $map);
	@return map-get($mapping, $layer);
}

///Функция для получения значения размера шрифта в rem
///Function for convert target font into rem
///@param {String} $target
///@param {String} $context
@function rem($target) {
   @if $target == 0 { @return 0 }
   @return $target / $base-font-size + 0rem;
}

///Функция для получения значения из массива $color в файле /theme/_color.scss используя sassy-maps
///Function for get variable from map $color in /theme/_color.scss using sassy-map
///@param {String} $keys
@function map-c($keys...) {
	@return map-get-deep($colors, $keys...);
} 

///Функция для получения значения из массива $dimentions в файле /theme/_dimentions.scss используя sassy-maps
///Function for get variable from map $dimentions in /theme/_dimentions.scss using sassy-map
///@param {String} $keys
@function map-d($keys...) {
	@return map-get-deep($dimentions, $keys...);
} 