@mixin pseudo($w:20px, $h:20px, $dis:block, $pos:absolute){
	content: '';
	width: $w;
	height: $h;
	display: $dis;
	position: $pos;
	background-color: black;
}

@mixin events($events:(':active',':focus',':hover')){
	$events-str:'';
	@each $event in $events {
		$events-str: $events-str + '&#{$event},';
	}
	#{$events-str}{
		@content;
	}
}
@mixin for-moz(){
	@-moz-document url-prefix(){
		@content;
	}
}


.spin{
	@include animation(spin 1s linear infinite);
}
.fade-in{
	opacity: 1 !important;
}
.fade-out{
	opacity: 0 !important;
}

.blink {
    @include animation(blink 0.5s ease-in infinite);
}


