@mixin without-indents{
	padding:0;
	margin: 0;
}

///Хелпер для создания псевдоэллемента
///Helper for pseudo ellement
///@param {String} $w
///@param {String} $h
///@param {String} $dis
///@param {String} $pos
@mixin pseudo($w:20px, $h:20px, $dis:block, $pos:absolute){
	content: '';
	width: $w;
	height: $h;
	display: $dis;
	position: $pos;
	background-color: black;
}


///Хелпер для создания одинакового описания для нескольких состояний блока
///@param {List} $events
@mixin events($events:(':active',':focus',':hover')){
	$events-str:'';
	@each $event in $events {
		$events-str: $events-str + '&#{$event},';
	}
	#{$events-str}{
		@content;
	}
}

///Хелпер для замены изображений
///@param {String} $image
///@param {String} $width
///@param {String} $height
@mixin retina {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    @content;
  }
}
