.container{
	@include span(full);
	position: relative;
}
.contentner{
	@include span(full);
	min-height: 500px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: map-c('layout','contentner','bg');
	border: 1px solid map-c('layout','contentner','b');
	border-top-width: 0;
	border-bottom-width: 0;
	@include for-moz{
		min-height: 550px;
	}
}

// .breadcrumb{
// 	display: inline-block;
// 	@include without-indents;
// 	background-color: transparent;
// 	li{
// 		a{
// 			color: get-color('layout','breadcrumb-link-text');
// 			@include events{
// 				color: get-color('layout','breadcrumb-link-text-active');
// 			}
// 		}
// 		.separator{
// 			display: inline-block;
// 			svg{
// 				position: relative;
// 				bottom:-1px;
// 				height: 10px;
// 				width:10px;
// 				margin: 0 5px 0 8px;
// 				.triangle{
// 					stroke: get-color('layout','breadcrumb-separator');
// 					opacity: 0.5;
// 					fill: get-color('base','back');
// 					@include transition-property(fill,opacity);
// 					@include transition-duration(0.2s);
// 				}
// 			}
// 		}
// 		@include events((':hover',':focus',':active','.active')){
// 			.separator{
// 				svg{
// 					.triangle{
// 						opacity: 1;
// 						fill: get-color('layout','breadcrumb-separator');
// 					}
// 				}
// 			}
// 		}
// 		&.active{
// 			opacity: 0.9;
// 		}
// 	}
// }


// .notifications{
// 	position: fixed;
// 	width: get-dimention('layout','notifications-width');
// 	.alert{
// 		.close{
// 			position: absolute;
// 			top: 5px;
// 			right: 10px;
// 		}
// 		position: relative;
// 	    z-index: 9999;
// 	    margin: 5px 0px;
// 		padding: 15px;
// 	}
// 	&.top-right {
// 	    right: 50px;
// 	    top: 50px;
// 	}
// 	&.top-left {
// 	    left: 50px;
// 	    top: 50px;
// 	}

// 	&.bottom-left {
//     	bottom: 50px;
// 		left: 50px;
// 	}

// 	&.bottom-right {
//     	bottom: 50px;
// 		right: 50px;
// 	}
// }