footer {
    @include span(full);
    background-color: map-c('layout', 'footer', 'bg');
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px #c6cbd3 solid
}

.footer__item {
    @include span(3.5); 
    &_menu {
        width: auto;
        height: 155px;
        border-left: 1px solid #c6cbd3;
        box-shadow: -2px 0 0 #FAFAFA;
    }
}

.footer__item_right {
    float: right;
}

.footer__item-title {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: map-c('layout', 'footer', '__item-title', 't');
    font-weight: 600;
}

.footer__item-descr {
    font-size: 1.4rem;
    line-height: 1.3;
    color: map-c('layout', 'footer', '__item-descr', 't');
    margin-bottom: 15px;
}

.footer__item-icon {
    font-size: 14px;
}

.footer__item-row {
    margin-top: 4px;
    i {
        color: #ff9600;
    }
}

.footer__item-btn {
    @include span(8);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 32px;
    color: map-c('layout', 'footer', '__item-btn', 't');
    background-color: map-c('layout', 'footer', '__item-btn', 'bg');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 0 12px;
    padding-right: 50px;
    margin-top: 15px;
    border-width: 0;
    @include transition-property(color, background-color);
    @include transition-duration($glob-anim-time);
    @include events {
        color: map-c('layout', 'footer', '__item-btn', 'active', 't');
        background-color: map-c('layout', 'footer', '__item-btn', 'active', 'bg');
        text-decoration: none;
        outline: none;
    }
}

.footer__item-btn_feedback {
    background-image: url($icons+'/icon_feed_1.png');
}

.footer__item-btn_callback {
    background-image: url($icons+'/icon_feed_2.png');
}

.footer__item-block {
    font-size: 1.4rem;
    color: map-c('layout', 'footer', '__item-block', 't');
    font-weight: 600;
    margin-bottom: 10px;
    img {
        margin-right: 10px;
    }
    big {
        font-size: 2.2rem;
    }
}

.postfooter {
    @include full;
    @include without-indents;
    background: #dbdfe4;
    border-top: 1px solid #c6cbd3;
    border-bottom: 1px solid #c0c6ce;
    box-shadow: inset 3px 0 9px -1px #ccc;
    padding: 15px 0;
    text-align: center;
    font-style: italic;
}

.copyrighter {
    @include full;
    @include without-indents;
    padding: 5px 0;
    text-align: center;
}

.menu-bottom {
    list-style: none;
    padding:0 15px;
    margin-bottom: 0;
    .listItem {
        .listItemLink {
            color: #64646e;
            font-size: 12px;
            text-decoration: underline;
            @include events {
            	text-decoration: none;
                color: #3966c8;
            }
        }
        &.primary {
            .listItemLink {
                color: #3966c8;
                font-weight: bold;
                @include events {
                    color: darken(#3966c8, 20);
                }
            }
        }
    }
}




.social{
	float: right;
	font-size: 30px;
	&__link{
		display: inline-block;
		color: #c6cbd3;
		margin: 0 10px 10px 10px;
		width: 30px;
		text-align: center;
		@include events{
			color: darken(#c6cbd3, 10);
		}
	}
}