///Стили для шапки
///Header style

header{
	@include span(12);
	@include without-indents;
	min-height: 50px;
	position: relative;
	background-color: map-c('layout','header','bg');
	box-shadow: 0 3px 5px 0 map-c('layout','header','shadow');
	z-index: 2;
	// overflow: hidden;
}

.pre-header{
	background-color: map-c('layout','pre-header','bg');
	height: map-d('layout','pre-header','h');
}

.pre-header__address{
	@include span(3);
	line-height: map-d('layout','pre-header','h');
	background-color: map-c('layout','pre-header','__adress','bg');
	color: map-c('layout','pre-header','__adress','t');
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
    box-shadow: 0 0 5px 0 map-c('layout','pre-header','__adress','shadow');
}

.pre-header__phone{
	@include span(map-d('layout','pre-header','__phone','col'));
	@include pre(4);
	line-height: map-d('layout','pre-header','h');
	color: map-c('layout','pre-header','__phone','t');
	font-size: 2rem;
	font-weight: 700;
	padding: 0;
	img{
		position: relative;
		top: -4px;
	}
}
.pre-header__callback{
	@include span(map-d('layout','pre-header','__callback','col'));
	@include without-indents;

}
.logo{
	@include span(3);
	@include without-indents;
	text-align: center;
	height: map-d('layout','logo','h');
	padding-top: 15px;
}

.header-panel{
	@include span(map-d('layout','pre-header','__callback','col') + map-d('layout','pre-header','__phone','col'));
	position: absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
    height: 60px;
    box-shadow: 0 2px 3px 0 map-c('layout','header-panel','shadow');
}
.header-panel__item{
	border-left: 1px solid map-c('layout','header-panel','__item','b');
	height: 100%;
	&:first-child{
		border-left-width: 0; 
	}
}

.header-panel__image,
.header-panel__title,
.header-panel__link{
	float: left;
	line-height: 1.3;
}

.header-panel__image{
	text-align: center;
	@include span(3.5);
}
.header-panel__title{
	@include span(8.5);
	font-size: 1.4rem;
	font-weight: 600;
	color: map-c('layout','header-panel','__title','t')
}