$border-width: 1px;
nav{
	@include span(8);
	height: map-d('layout','navbar','h');
	position: relative;
	top: map-d('layout','logo','h') - map-d('layout','navbar','h') - $border-width * 2;
	@include without-indents;
	// border: 1px solid get-color('layout','navbar-border');
}

.menu{
	@include span(full);
	height: map-d('layout','navbar','h');
	list-style: none;
	font-size: 0;
	line-height: 0;
	text-align: justify;
	@include without-indents;

	/* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;
    /* Включаем в работу последнюю строку*/
    // text-align-last: justify;

	.item{
		
		// font-family: $f-ProxNB;
		position: relative;
		display: inline-block;
        text-transform: uppercase;
        border: $border-width solid map-c('layout','navbar','__item','b');
        border-left-width: 0;
		/* Востанавливаем у потомков, кроме последнего*/
        line-height: map-d('layout','navbar','h');
        font-size: rem(12px);
        /* Без него в Opera будет отступ под элементами */
        vertical-align: top;
        /* эмуляция inline-block для IE6-7*/
        //display : inline;
        //zoom : 1;
        
        @include transition(border-color $glob-anim-time ease-in-out);
        
        a{
        	display: block;
        	height: 100%;
        	background-color: map-c('layout','navbar','__link','bg');
        	color: map-c('layout','navbar','__link','t');
		    font-weight: 600;
		    line-height: 40px;
		    padding: 0 30px;
			@include transition(background-color $glob-anim-time ease-in-out);
        	@include events{
        		text-decoration: none;
        		background-color: map-c('layout','navbar','__link','active','bg');
        		color: map-c('layout','navbar','__link','active','t');
        	}
        }

        &:first-child{
			border-left-width: $border-width;
        }
        @include events{
    		border-color: map-c('layout','navbar','__item','active','bc');
    	}
	}
}