.postheader {
    @include full;
    @include without-indents;
    border-bottom: 1px solid #b4bbc5;
    padding: 10px 0;
    height: 150px;
    @include background(linear-gradient(bottom, #f3f4f6 0, #e7ebef 100%))
    z-index: 100;
}

.cateban {
	position: relative;
	&__menu{
		font-size: 0;
	}
    &__item {
        display: inline-block;
        a {
            display: block;
            font-size: 13px;
            text-decoration: underline;
            color: #6e6e78;
            padding: 9px 10px;
            border: 2px solid transparent;
            @include events((':hover')) {
                background: white;
                border-color: #598ef3;
                text-decoration: none;
            }
        }
        ul {
            @include without-indents;
            position: absolute;
            top: 139px;
            left: 0;
            right: 0;
            z-index: 1000;
			border: 2px solid #598ef3;
			border-bottom-width: 0px;
		    background: #fff;
    		box-shadow: 3px solid #e7eaef;
		    padding: 0 20px;
		    overflow: hidden;
		    max-height: 0;
		    @include transition-property(max-height,padding,border-bottom-width, z-index);
		    @include transition-duration($glob-anim-time);
		    z-index: 1;
		    a{
		    	color: #6e6e78;
		    }
        }
    //     @include events{
    //     	ul {
    //     		z-index: 100;
				// border-bottom-width: 2px;
    //     		padding: 20px;
    //     		max-height: 350px;
    //     	}
    //     }
    }
    &_open{
		.cateban__item{
			ul{
				@include transition-duration(0s);
			}
			ul.active {
        		z-index: 100;
				border-bottom-width: 2px;
        		padding: 20px;
        		max-height: 350px;
        	}
		}
    }
}
