.search{
	@include full;
	@include without-indents;
	height: 70px;
	@include background(linear-gradient(top, #5384e8 0, #395ebf 100%));
    border-bottom: 1px solid #152d97;
}

@import '../modules/Store/store-search-form';

.minimal-order{
	@include span(2.5);
	@include pre(1.5);
	height: 69px;
	border-right: 1px solid #152d97;
	border-left: 1px solid #152d97;
    vertical-align: middle;
    box-shadow: inset 0 0 7px #549af8;
	padding-top: 6px;
	text-shadow: 0 -1px 0 #152d97;
	color:white;
	&__icon{
		color:#68a1f4;
		@include span(2);
		@include post(1);
		font-size: 34px;
	}
    &__title{
    	@include span(9);
    	font-weight: bold;
    	font-size: 14px;
    }
    &__number{
    	@include span(9);
    	font-weight: lighter;
    	font-size: 22px;
    	i{
    		font-size: 18px;
    	}
    }
}