.breadcrumb{
	display: inline-block;
	@include without-indents;
	background-color: transparent;
	font-size: 1.4rem;
	margin: 20px 0;
	@include span(12);
	a{
		color: map-c('modules','common','breadcrumb','__link','t');
		margin: 20px;
		display: inline-block;
		@include transition(color, $glob-anim-time);
		@include events{
			text-decoration: none;
			color: map-c('modules','common','breadcrumb','__link','_active','t');
		}
		&:first-child{
			font-size: 0;
			margin: 0 20px;
			height: 22px;
			width: 22px;
			position: relative;
			top: -16px;
			background: url($icons+'/icon_home.png') left bottom no-repeat;
		}
	}
	span{
		padding: 5px 15px;
		margin: 15px;
		display: inline-block;
		color: map-c('modules','common','breadcrumb','__link','_current','t');
		background-color: map-c('modules','common','breadcrumb','__link','_current','bg');
	}

}