.prefooter{
	@include span(full);
	position: relative;
	background-color: map-c('modules','common','prefooter', 'bg');
	box-shadow: 0 0 10px 0 map-c('modules','common','prefooter', 'shadow');
	min-height: 20px;
	z-index: 1;
}