.btn-callback{
	background-color: map-c('modules','callback','btn-callback','bg');
	color: map-c('modules','callback','btn-callback','t');
	box-shadow: 2px 2px 0 0 map-c('modules','callback','btn-callback','shadow');
	border-radius: 2px;
	font-weight: 600;
    text-align: center;
    $font-size: 14px;
	$padding-v: 6px;
	float: right;
	font-size: rem($font-size);
	padding: $padding-v $padding-v * 2;
    margin-top: (map-d('layout','pre-header','h') - ($padding-v * 2 + $font-size * $base-line-height)) / 2;
	
    @include transition(background-color $glob-anim-time ease-in-out);
    @include events{
    	background-color: map-c('modules','callback','btn-callback','active','bg');
    	text-decoration: none;
    	color: map-c('modules','callback','btn-callback','active','t');
    	outline: none;
    }
}