///Базовый стили, оформление основных тегов
///Base styles
body{
	background-color: map-c('base','body','bg');
    float: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

svg {
	max-width: 100%;
	max-height: 100%;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.limiter{
	max-width: map-d('base','limiter','mxw');
	min-width: map-d('base','limiter','mxw');
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

input:-webkit-autofill {
    // background-color: get-color('base','input-autofill-background') !important;
}

.container{
	@include without-indents;
	// @include span(full);
}