///Типография
///Typography

$base-font-size: 10px;
$base-line-height: 1.613;

// @include font-face("Montserrat", $fonts+"/montserrat-ultralight",100);
// @include font-face("Montserrat", $fonts+"/montserrat-hairline",200);
// @include font-face("Montserrat", $fonts+"/montserrat-light",300);
// @include font-face("Montserrat", $fonts+"/montserrat-regular",400);
// @include font-face("Montserrat", $fonts+"/montserrat-semibold",500);
// @include font-face("Montserrat", $fonts+"/montserrat-bold",600);
// @include font-face("Montserrat", $fonts+"/montserrat-extrabold",700);
// @include font-face("Montserrat", $fonts+"/montserrat-black",800);

*{
	@include selection {
	}
}
body, html{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: $base-line-height;
	font-size: $base-font-size;
}
p{
	// font-family: $f-RobR;
	// color: get-color('base','p-text');
	// margin: 10px 0;
}
ul,ol{
	// font-family: $f-RobR;
	// color: get-color('base','p-text')
}
a{
	// color:get-color('base','a-text');
	@include transition(color,0.2s);
	@include events{
		text-decoration: none;
		outline:none;
	}
}

h1,h2,h3,h4,h5,h6{
	// font-family: $f-ProxNxB;
	// font-size: rem(18px);
	// color:get-color('base','h-text');
	// margin-top: 0;
	small{
		// color: shade(get-color('base','h-text'),20);
	}
}
h2{
	font-size: rem(17px);
}
h3{
	margin: 5px 0;
	font-size: rem(16px);
}
h4{
	margin: 3px 0;
	font-size: rem(15px);
}
h5{
	margin: 1px 0;
	font-size: rem(14px);
}
h6{
	font-size: rem(13px);
}
