.last-news{
	@include span(full);
	padding: 30px 0;
}

.last-news__title{
	text-align: center;
	font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.last-news__list{
	margin-top: 30px;
	list-style: none;
	@include span(10);
	@include pre(1);
}

.last-news__item{
	float: left;
	width: 240px;
	margin: 0 15px;
	border: 10px solid map-c('modules','news','last-news','__item', 'b');
	padding: map-d('modules','news','last-news','__item', 'p');
	height: 315px;
	overflow: hidden;
	position: relative;
	background-color: map-c('modules','news','last-news','__item', 'bg');;
}

.last-news__item-image{
    margin-bottom: 15px;
}

.last-news__item-title{
	$lines: 3;
	$font-size: 1.6rem;
	$line-height: 1.4;
    padding-bottom: 26px;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 600;
   	
    .last-news__item-title-cutter{
    	max-height: $lines * $font-size * $line-height;
    	overflow: hidden;
    }
    &::after{
    	@include pseudo(66px, 4px);
    	position: relative;
    	top: 12px;
	    background: map-c('modules','news','last-news','__item-title', 'after', 'bg');
    }
    a{
    	@include events
	    {
			text-decoration: none;
	    }
	}
}

.last-news__item-short-descr{
	$lines: 3;
	$font-size: 1.4rem;
	$line-height: 1.55;
	font-size: $font-size;
    line-height: $line-height;
    max-height: $lines * $font-size * $line-height;
	overflow: hidden;
}

.last-news__item-button{
    display: block;
    width: 100%;
    $border-width: map-d('modules','news','last-news','__item', 'p');
    $line-height: 30px;
    line-height: $line-height;
    border: $border-width solid map-c('modules','news','last-news','__item', 'bg');
    border-top-width: $border-width / 2;
    height: $line-height + $border-width * 1.5;
    padding: 0 20px;
    font-size: 1.4rem;
    color: #292825;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: map-c('modules','news','last-news','__item-button', 'bg');
    background-image: url($icons+'/arrow_lg.png');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: center;
    @include transition-property(background-position-x);
    @include transition-duration($glob-anim-time);
    @include events
    {
    	background-position-x: 83%;
    	text-decoration: none;

    }
}