$dark-matter: #2b2a27;
$shadow-of-mordor: rgba(0, 0, 0, 0.5);
$shadow-of-gondor: rgba(0, 0, 0, 0.2);
$shadow-of-rohan: rgba(0, 0, 0, 0.4);
$spanchbob: #febb0e;
$blueballs: #01149d;
$tukan: #4d63ff;
$dorian: #dedede;
$cocain: #f5f5f5;
$cdChanger: #cdcdcd;

$colors:(
	base:(
		body:(
			bg: $cocain,
		)
	),
	layout:(
		header:(
			bg:white,
			shadow: $shadow-of-gondor
		),
		pre-header:(
			bg: $spanchbob,
			__adress:(
				bg: $blueballs,
				t: white,
				shadow: $shadow-of-mordor,
			),
			__phone:(
				t: $blueballs,
			)
		),
		navbar:(
			__item:(
				b: $dorian,
				active:(
					bc: $spanchbob,
				)
			),
			__link:(
				bg: transparent,
				t: $dark-matter,
				active:(
					bg: $spanchbob,
					t: $blueballs,
				)
			)
		),
		header-panel:(
			shadow: $shadow-of-gondor,
			__item:(
				b: $dorian,
			),
			__title:(
				t: $dark-matter,
			)
		),
		contentner:(
			bg: white,
			b: $cdChanger,
		),
		footer:(
			bg: #eceff0,
			b: $spanchbob,
			__item-title:(
				t: $spanchbob
			),
			__item-descr:(
				t: white
			),
			__item-btn:(
				bg: #5384e8,
				t: $dark-matter,
				active:(
					bg: lighten(#5384e8,10),
					t: $dark-matter,
				)
			),
			__item-block:(
				t: white
			)
		),
	),
	modules:(
		callback:(
			btn-callback:(
				bg: $blueballs,
				shadow: $tukan,
				t: white,
				active:(
					bg: darken($blueballs,10),
					t: white,
				)
			)
		),
		news:(
			last-news:(
				__item:(
					b: $cdChanger,
					bg:white,
				),
				__item-title:(
					after:(
						bg: $spanchbob
					)
				),
				__item-button:(
					bg: $spanchbob
				),
			),
		),
		common:(
			prefooter:(
				bg: white,
				shadow: $shadow-of-rohan,
			),
			breadcrumb:(
				__link:(
					t: $dark-matter,
					_active:(
						t: lighten($dark-matter,50)
					),
					_current:(
						t: white,
						bg: $tukan,
					)
				)
			),
		),
	)
);