$dimentions:(
	base:(
		limiter:(
			mxw: 1240px,
		)
	),
	layout:(
		pre-header:(
			h: 60px,
			__phone:(
				col: 2.5,
			),
			__callback:(
				col: 2.5,
			),
		),
		logo:(
			h: 120px,
		),
		navbar:(
			h:40px,
		),
	),
	modules:(
		news:(
			last-news:(
				__item:(
					p: 20px,
				),
			),
		),
	)
);