.category{
	padding: 40px 90px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.category__item{
	@include span(full);
	.category__item_title{
		.category__item_link{
			font-size: 20px;
			color: #292825;
			text-decoration: underline;
		}
	}
}

.subcat__item{
	@include span(2);
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
	&:last-child{
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
}

	.subcat__item_link{
		font-size: 14px;
		color: #01149d;
		outline: none;
		text-decoration: underline;
		display: inline-block;
		&:after{
			text-decoration: none;
		}
	}

	.subcat__item_count{
		display: inline-block;
		color: #9c9c9c;
		font-size: 14px;
	}

.subcat__item_without-image{
	.subcat__item_count{
		&:after{
			content: ",";
			display: inline;
			font-size: 14px;
		}
	}
	&:last-child{
		.subcat__item_count{
			&:after{
				display: none;
			}
		}
	}
}

.categories{
	padding-bottom: 30px;

	.list-view{
		.items{
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
	}

	.categories__link_wrap{
		text-align: center;
		margin-top: 30px;
	}

	.categories__link{
		display: inline-block;
		padding: 5px 30px;
		color: #242321;
		background-color: #febb0e;
		font-weight: 600;
		border-radius: 3px;
		font-size: 1.4rem;
		text-decoration: none;
	}
}
