.product-cart{
	//background-color: gray;
	    // min-height: 610px;
	padding: 30px 0 150px;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}
.contentner{
	// background-color: gray;
}
.product-name{
	h1{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    }
}
.rightTable{
	width: 100%;
    font-size: 15px;
    td{
	   	padding: 1px 15px;
	    border: 1px solid #febb0e;
    }
}

.product-right-column{
    // width: 490px;

}
.image-preview{
	width:520px;
	height: 520px;
	img{
		width: 100%;
		height: 100%;
		display: block;
	}
	margin: 0 auto;
}
.descriptionProduct{
	margin-top: 20px;
    font-size: 15px;
}
.price{
	margin-bottom: 5px;
    font-size: 36px;
    font-weight: 700;
    min-width: 200px;
    float: left;
}
.pricePer{
	color: #01149d;
    font-size: 11px;
}
.thePrice{
	margin-bottom: 2px;
}
.leftManipul{
	@include full;
    margin-top: 29px;
.input-group{
	font-size: 18px !important;
	width: 120px;
	float: left;
	button, input{
		background: #e1e1e1;
		border: none;
		height: auto;
	}
	input{
		    box-shadow: none;
	        width: 60px;
	        padding-left: 0;
	        padding-right: 0;

	}
	button:focus{
		//border:none;
		//box-shadow: none;
		outline:none;
	}
	.fa-upload{
		font-size: 10px;
	}
	.btn,
	.form-control{
		font-size: 18px;
	}
}
#add-product-to-cart{
 color:#01149D;
 font-size:50px;
 background-color: transparent;
 padding: 0;
 border: none;
 margin-left: 13px;
position: relative;
top: -7px;}
form{
    float: left;
    width: 170px;
    margin-top: 20px;
    margin-left: 10px;
}
}