.products__list{

	.items{

		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.sorter{
		font-size: 1.4rem;
	}
	.pagination{
		font-size: 1.4rem;

		a{
			background-color: #fff;
			color: #2b2a27;
			font-weight: 600;
			border: 1px solid #2b2a27;

			&:hover{
				background-color: #2b2a27;
				border-color: #2b2a27;
				color: #fff;
			}
		}
	}
}

.product__item{
	@include span(3);
	text-align: center;
	height: 250px;
	overflow: hidden;
	font-size: 1.4rem;

	.product__item_image{
		margin-bottom: 10px;
	}

	.product__item_link{
		display: inline-block;
		font-weight: 700;
		font-size: 14px;
		color: #292825;
		line-height: 1.2;
		margin-bottom: 20px;
	}

	.product__item_price{
		color: #E40000;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1;
	}
}