.store-filter{
	@include span(8);
	height: 60px;
	margin-top: 10px;
	position: relative;
	form{
		height: 100%;
		width: 100%;
	}
	.input-group{
		height: 100%;
		width: 100%;
		border-top:none;
		border-bottom:none;
		input, button{
			height: 100%;
			border: none;
			box-shadow: none;
			outline: none;
			background-color: transparent;
			border-radius: 0;
			@include events{
				box-shadow: none;
				outline: none;
			}
		}
		input{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			background: white;
		    box-shadow: inset 0 4px 5px #ccc;
		    border: 1px solid #3a66c9;
		    height: 45px;
		    color: #646464;
		    font-weight: normal;
			@include events(':focus'){
				//@include single-box-shadow(0, 0, 5px, 0, get-color('store','store-filter-input-active-shadow'));
			}
		}
		#searchInput:-webkit-autofill {
		    background-color: white !important;
		}
		button{
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			height: 45px;
			width: 50px;
			@include background(linear-gradient(to bottom, #68a1f4 0, #68a1f4 49%, #4a84ea 51%, #456fd6 100%));
		}
	}
}
#searchLoupe{
	*{
		stroke: white;
	}
}