@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@font-face {
  font-family: 'Myriad SemiBold';
  src: url("../fonts/myriad-semibold.eot");
  src: url("../fonts/myriad-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad-semibold.woff") format("woff"), url("../fonts/myriad-semibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/myriad-regular.eot");
  src: url("../fonts/myriad-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad-regular.woff") format("woff"), url("../fonts/myriad-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bx-wrapper {
  position: relative;
  padding: 0;
  margin: 0 auto;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.bx-pager {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bx-pager .bx-pager-item {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.bx-pager a {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  position: relative;
  text-indent: -9999px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.bx-pager a:hover:after,
.bx-pager a.active:after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #000;
  border-radius: 4px;
}

.bx-controls-direction a {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 9;
}

.bx-controls-direction a.disabled {
  display: none;
}

.bx-controls-direction .bx-prev {
  left: 0;
}

.bx-controls-direction .bx-next {
  right: 0;
}

body {
  color: #292825;
  font-size: 14px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #01149d;
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1, .h1 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

h2, .h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h3, .h3 {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 1.2;
}

h4, .h4 {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #f5f5f5;
}

.hidden {
  display: none;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.img-rounded {
  border-radius: 4px;
}

.page {
  min-width: 1240px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.row {
  position: relative;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
}

input,
select,
button,
textarea {
  color: #333;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none !important;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  height: 30px;
  padding: 5px 30px;
  color: #242321;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  background: #febb0e;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 12px;
  position: relative;
}

.form-group:before,
.form-group:after {
  content: " ";
  display: table;
}

.form-group:after {
  clear: both;
}

.form-inline:before,
.form-inline:after {
  content: " ";
  display: table;
}

.form-inline:after {
  clear: both;
}

.form-inline .form-group {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}

.form-control {
  width: 100%;
  height: 30px;
  padding: 5px 15px;
  font-size: 14px;
  border: 1px solid #242321;
  background: transparent;
  border-radius: 3px;
}

.topbar {
  background: #febb0e;
}

.topbar .container {
  height: 60px;
}

.topbar .addr {
  height: 60px;
  padding: 0 20px 0 40px;
  float: left;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  background: #01149d url("../img/icon_map.png") no-repeat 15px 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.topbar .contact-details {
  float: right;
}

.topbar .contact-details .tel {
  height: 60px;
  padding: 0 40px;
  float: left;
  color: #01149d;
  font-size: 22px;
  font-weight: 700;
  line-height: 60px;
  background: url("../img/icon_tel.png") no-repeat 10px 50%;
}

.topbar .contact-details .callback {
  display: block;
  width: 230px;
  height: 30px;
  margin: 15px 0;
  float: left;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background: #01149d;
  border-radius: 2px;
  box-shadow: 2px 2px 0 0 #4d63ff;
}

.navbar {
  position: relative;
  background: #f5f5f5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.navbar .container {
  position: relative;
  height: 120px;
}

.navbar .logo {
  display: block;
  width: 280px;
  height: 120px;
  float: left;
  background: url("../img/logo.png") no-repeat 0 0;
}

.navbar .controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.navbar .controls ul li {
  height: 30px;
  padding: 0 20px;
  float: left;
  border-left: 1px solid #dedede;
}

.navbar .controls ul li:first-child {
  border: 0;
}

.navbar .controls ul li.item-1 {
  padding-left: 68px;
  background: url("../img/icon_pack_c.png") no-repeat 20px 50%;
}

.navbar .controls ul li.item-2 {
  padding-left: 64px;
  background: url("../img/icon_cart_c.png") no-repeat 20px 50%;
}

.navbar .controls ul li.item-3 {
  padding-left: 56px;
  font-weight: 600;
  line-height: 30px;
  background: url("../img/icon_user_c.png") no-repeat 20px 50%;
}

.navbar .controls ul li.item-3 a {
  text-decoration: none;
}

.navbar .controls .capt {
  font-weight: 600;
}

.navbar .controls .link {
  font-size: 10px;
}

.navbar-nav {
  height: 40px;
  padding-top: 80px;
  float: left;
}

.navbar-nav ul li {
  float: left;
  margin-left: -1px;
}

.navbar-nav ul li a {
  display: block;
  height: 40px;
  padding: 0 30px;
  float: left;
  color: #2b2a27;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid #dedede;
}

.navbar-nav ul li a.spec {
  color: #e40000;
}

.navbar-nav ul li a:hover {
  color: #01149d;
  border-color: #febb0e;
  background: #febb0e;
}

.navbar-nav ul li.active a {
  color: #01149d;
  border-color: #febb0e;
  background: #febb0e;
}

.b-text p {
  margin-bottom: 22px;
}

.b-text ul, .b-text ol {
  margin-bottom: 30px;
}

.b-text ul li, .b-text ol li {
  padding-left: 28px;
  margin-bottom: 15px;
  position: relative;
}

.b-text ul li:before, .b-text ol li:before {
  display: block;
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
}

.page-footer {
  padding: 60px 0;
  color: #fff;
  border-bottom: 20px solid #febb0e;
  background: #2b2a28;
}

.page-footer .feedback {
  float: left;
  overflow: hidden;
}

.page-footer .feedback .column {
  padding-left: 90px;
  float: left;
}

.page-footer .feedback .capt {
  margin-bottom: 20px;
  color: #febb0e;
  font-weight: 600;
}

.page-footer .feedback .descript {
  margin-bottom: 15px;
}

.page-footer .feedback .button {
  display: block;
  width: 190px;
  height: 32px;
  padding-right: 37px;
  color: #2b2a28;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.page-footer .feedback .column-1 .button {
  background: #febb0e url("../img/icon_feed_1.png") no-repeat 100% 0;
}

.page-footer .feedback .column-2 .button {
  background: #febb0e url("../img/icon_feed_2.png") no-repeat 100% 0;
}

.page-footer .contact-details {
  padding-right: 90px;
  float: right;
}

.page-footer .contact-details li {
  min-height: 20px;
  padding-left: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.page-footer .contact-details li.tel {
  font-size: 22px;
  font-weight: 700;
  background: url("../img/icon_tel_f.png") no-repeat 0 50%;
}

.page-footer .contact-details li.email {
  background: url("../img/icon_email_f.png") no-repeat 0 50%;
}

.page-footer .contact-details li.addr {
  background: url("../img/icon_map_f.png") no-repeat 0 50%;
}

.breadcrumb {
  margin-bottom: 40px;
  overflow: hidden;
}

.breadcrumb li {
  height: 26px;
  margin: 0 10px;
  line-height: 26px;
  float: left;
  overflow: hidden;
}

.breadcrumb li.current {
  color: #01149d;
  padding: 0 15px;
  background: #febb0e;
}

.breadcrumb li a {
  color: #292826;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li a.home {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/icon_home.png") no-repeat 0 0;
}

.welcome-slider {
  background: #f2f2f2;
}

.welcome-slider .bxslider,
.welcome-slider .bxslider .item {
  height: 510px;
  overflow: hidden;
}

.welcome-slider .bxslider .link {
  display: block;
  height: 510px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.special .container {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.special .case-heading {
  color: #e40000;
}

.special .case-heading .icon {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon_spec.png");
}

.special .item {
  width: 270px;
  padding: 0 15px;
  position: relative;
  float: left;
  text-align: center;
}

.special .item .link {
  color: #292825;
  text-decoration: none;
}

.special .item .label {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
}

.special .item .label-prs {
  background: url("../img/label_2.png") no-repeat 0 0;
}

.special .item .label-sale {
  background: url("../img/label_1.png") no-repeat 0 0;
}

.special .item .figure {
  height: 240px;
  margin-bottom: 10px;
  overflow: hidden;
}

.special .item .title {
  height: 38px;
  padding: 0 15px;
  margin-bottom: 16px;
  font-weight: 600;
  overflow: hidden;
}

.special .item .price {
  height: 22px;
  color: #e40000;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.spec-slider {
  width: 1080px;
  height: 340px;
  margin: 0 auto 30px;
}

.spec-slider .bxslider,
.spec-slider .bxslider .item {
  height: 340px;
  overflow: hidden;
}

.spec-slider .bx-controls-direction a {
  background-image: url("../img/slides_arrow.png");
}

.spec-slider .bx-controls-direction .bx-prev {
  margin-left: -40px;
  background-position: 0 0;
}

.spec-slider .bx-controls-direction .bx-next {
  margin-right: -40px;
  background-position: 100% 0;
}

.categories {
  background: url("../img/delivery.png") no-repeat 50% 100%;
}

.categories .container {
  position: relative;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  background: #fff;
}

.categories .container .delivery {
  display: block;
  position: absolute;
  right: -165px;
  bottom: 270px;
  width: 105px;
  height: 30px;
}

.categories .case-heading {
  padding: 40px 0;
  background: #febb0e;
}

.categories .case-heading li {
  display: inline-block;
  padding: 0 10px;
  font-weight: 600;
}

.categories .case-heading li.capt {
  font-size: 20px;
}

.categories .case-body {
  padding: 30px 90px 0;
}

.categories .case-footer {
  padding-bottom: 30px;
}

.categories .row-heading {
  margin-bottom: 20px;
  font-size: 20px;
}

.categories .row-heading a {
  color: #292825;
}

.categories .row-footer {
  padding-bottom: 30px;
  color: #9c9c9c;
}

.categories .row {
  margin-right: -30px;
}

.categories .item {
  width: 160px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: left;
}

.categories .item .figure {
  height: 130px;
  margin-bottom: 10px;
}

.categories .item .title {
  height: 38px;
  margin-bottom: 10px;
  color: #9c9c9c;
  overflow: hidden;
}

.news {
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.news .container {
  padding-top: 20px;
  padding-bottom: 30px;
}

.news .case-heading {
  margin-bottom: 40px;
}

.news .case-heading .icon {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon_news.png");
}

.news .item {
  width: 240px;
  margin-right: 30px;
  padding: 20px;
  float: left;
  border: 10px solid #cdcdcd;
}

.news .item .figure {
  height: 110px;
  margin-bottom: 15px;
  overflow: hidden;
}

.news .item .divider {
  width: 66px;
  height: 4px;
  margin-bottom: 14px;
  background: #febb0e;
}

.news .item .title {
  height: 66px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.news .item .title a {
  text-decoration: none;
}

.news .item .descript {
  height: 116px;
  margin-bottom: 10px;
  overflow: hidden;
}

.news .item .more {
  display: block;
  width: 150px;
  height: 30px;
  padding: 0 20px;
  color: #292825;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  background: #febb0e url("../img/arrow_lg.png") no-repeat 90px 50%;
}

.news-slider {
  width: 1080px;
  height: 314px;
  margin: 0 auto 40px;
}

.news-slider .bxslider,
.news-slider .bxslider .item {
  height: 314px;
  overflow: hidden;
}

.news-slider .bx-controls-direction a {
  background-image: url("../img/slides_arrow.png");
}

.news-slider .bx-controls-direction .bx-prev {
  margin-left: -70px;
  background-position: 0 0;
}

.news-slider .bx-controls-direction .bx-next {
  margin-right: -70px;
  background-position: 100% 0;
}

.product {
  background: url("../img/delivery.png") no-repeat 50% 100%;
}

.product .container {
  position: relative;
  padding: 60px 90px;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  background: #fff;
}

.product .container .delivery {
  display: block;
  position: absolute;
  right: -165px;
  bottom: 270px;
  width: 105px;
  height: 30px;
}

.product .preview {
  width: 520px;
  float: left;
}

.product .preview .figure {
  width: 520px;
  margin-bottom: 30px;
  overflow: hidden;
}

.product .info {
  width: 490px;
  float: right;
}

.product .params {
  padding-right: 40px;
  margin-bottom: 30px;
}

.product .params table {
  width: 100%;
}

.product .params table td {
  padding: 5px 15px;
  border: 1px solid #febb0e;
}

.product .descript {
  padding: 0 15px;
}

.product .descript p {
  margin-bottom: 18px;
}

.product .panel {
  margin-bottom: 40px;
  height: 60px;
}

.product .panel .panel-inner {
  float: right;
}

.product .panel .purchase {
  display: block;
  width: 28px;
  height: 25px;
  margin: 10px 0;
  float: left;
  background: url("../img/icon_cart_c.png") no-repeat 0 0;
}

.product .price-holder {
  float: left;
}

.product .price-holder .price {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

.product .price-holder .units {
  color: #01149d;
  font-size: 11px;
  text-align: center;
}

.product .counter {
  position: relative;
  width: 92px;
  height: 26px;
  margin: 10px 20px;
  float: left;
  padding: 0 26px;
  background: #e1e1e1;
}

.product .counter button {
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
  border: 0;
}

.product .counter button.minus {
  left: 0;
  background: url("../img/icon_minus.png") no-repeat 50% 50%;
}

.product .counter button.plus {
  right: 0;
  background: url("../img/icon_plus.png") no-repeat 50% 50%;
}

.product .counter input {
  width: 40px;
  padding: 2px 4px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: none;
}

.product .social {
  height: 40px;
  text-align: center;
}

.product .social li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
}
